/*
name: 美咲フォント
site: http://littlelimit.net/misaki.htm
copy: head: <link rel="stylesheet" href="https://raw.githubusercontent.com/yeswasi/fontcss/master/Japanese/misakifont/gothic_truetype.css">
      style: { font-family:'MisakiFont Gothic', sans-serif;}
*/
@font-face {
     font-family: 'MisakiFont Gothic';
     src: ('https://yeswasi.github.io/misaki_gothic.ttf');
     format: ('truetype');
     font-display: swap;
     font-weight: 400;
     font-style: normal;
}
