/*
name: 美咲フォント
site: http://littlelimit.net/misaki.htm
*/
@font-face {
     font-family: 'MisakiFont Gothic';
     src: ('https://yeswasi.github.io/misaki_gothic.ttf');
     format: ('truetype');
     font-display: swap;
     font-weight: 400;
     font-style: normal;
}
